extends layout

block content
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css')
  style.
    body {
      font-family: 'Arial', sans-serif;
      color: #333;
      background-color: #f5f5f5;
    }
    h1, h5 {
      color: #333;
    }
    .card {
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: none;
      margin-bottom: 20px;
      background-color: #fff;
    }
    .card-header {
      background-color: #f5f5f5;
      border-bottom: 1px solid #ccc;
    }
    .card-body {
      padding: 20px;
    }
    .label-bubble {
      background-color: #3498db;
      border-radius: 5px;
      padding: 4px 8px;
      color: #fff;
      margin: 2px 5px;
      font-weight: normal;
      font-size: 14px;
    }

  form.form-horizontal
      input(type='hidden', name='_csrf', value=_csrf)
      .offset-sm-2.col-sm-8
      a.btn.btn-primary(href="/doc/list") List
      .form-group.row.justify-content-md-center
      .list-container
        h1.text-center.mt-5 News Listings
        .row#card-container 
          for item in items
            .col-12.mb-4
              .card
                .card-header
                  h5.card-title= item.title 
                  if item.labels
                    p !{item.labels.map(label => `<span class="label-bubble">${label}</span>`).join(' ')}

                .card-body
                  p.card-text.font-weight-bold !{item.summary.replace(/\n/g, '<br>')}
                  p.card-text !{item.rawContent}
                  p.card-test id: #{item._id}
                .card-footer.text-center
                  div.btn-group
                  a#view-source(href=(item.url.startsWith('http://') || item.url.startsWith('https://') ? item.url : 'http://' + item.url)).btn.btn-primary.btn-sm.mr-2 View Source
                  button#mark-as-read.btn.btn-secondary.btn-sm(onclick='markDocAsRead(event, "#{item._id}")', data-id=item._id) Mark as Read
                  script(src='/client/doc.js')
